.best {
  background-color: var(--white);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include mobile {
      margin-bottom: 8px;
    }

    &-link {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71429;
      text-transform: capitalize;
      color: var(--primary-primary-600);

      @include mobile {
        display: none;
      }
    }
  }
}
